img {
			width: 100%;
		}

		.img {
			width: 800px;
			float: left;
			list-style: none;
		}
		.biao:hover {
			cursor: pointer;
			background-color: rgba(255, 255, 255, 0.6);
		}
		.big {
			width: 6000px;
			padding: 0px;
			margin: 0px;
			 transition: all 2s;
		}

		.pic {
			width: 800px;
			overflow: hidden;
			position: relative;
			top: 100px;
			left: 350px;
		}

		.biao {
			z-index: 9999;
			position: absolute;
			padding-top: 50px;
			width: 80px;
		}

		.biao2 {
			font-size: 3em;
			color: seashell;
		}

